#inputContainer {
	width: calc(100vw / 2);
	/* height: calc(100vh / 3); */
	display: flex;
	flex-direction: column;
	margin-bottom: 1.75em;
	overflow: hidden;
}

#media {
	width: 100%;
	height: 100%;
	display: flex;
}

#inputControls {
	width: 33.3%;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-left: 0.2em;
	margin-top: -0.2em;
}

#inputControls button {
	width: 100%;
	min-height: 2.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.275em;
	font-weight: 300;
	color: #ccc;
	text-transform: uppercase;
	background-color: #111;
	border: 0;
	outline: none;
}

#inputVideo {
	width: 66.6%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #111;
	margin-top: -0.2em;
}

#inputVideo video {
	width: 100%;
	height: auto;
	display: block;
}
#inputVideo video:focus {
	outline: none;
}
#inputVideoBtn {
	font-size: 0.2em;
	cursor: pointer;
	color: #fff;
	display: inline-block;
	justify-content: center;
}
#inputVideoBtn:focus {
	outline: none;
}
#inputVideoBtn:active {
	outline: none;
}
#inputVideoBtn::-webkit-file-upload-button {
	visibility: hidden;
}
#inputVideoBtn::before {
	content: 'Select Input File';
	border: 0;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	font-weight: 700;
	height: 100%;
}

.inputParameter {
	width: 100%;
	height: auto;
	min-height: 1.2em;
	background-color: #333;
	display: flex;
	flex-direction: row;
	font-weight: 500;
}
.inputParameter label {
	min-width: 8em;
	height: 2em;
	justify-content: flex-start;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: #888;
	font-size: 0.35em;
	text-transform: uppercase;
}
.inputParameter input {
	width: 100%;
	height: 2em;
	background-color: inherit;
	color: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.35em;
	font-weight: 600;
	outline: 0;
	border: none;
	margin-left: 2em;
}

#canvas {
	width: 100%;
	height: 100%;
	display: block;
}

#inputText {
	width: 100%;
	height: auto;
	min-height: 3em;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 0.65em;
	font-weight: #666;
	text-transform: capitalize;
}

#inputText hr {
	width: calc(100% - 1.2px);
	height: 1.75px;
	display: flex;
	background-color: #666;
	border: solid 0.5px #666;
	outline: 0;
	text-align: center;
	margin-top:0.7em;
}

